p {
	font-family: Ariel;
	padding: 10px;
	font-size: 20px;

}
h2 {
	color: #FFFFFF;
}
.row {
	margin: 10px;
	padding: 10px;
}
#photo-2 {
	margin-left: 80px;
}	
#photo-3 {
	margin-left: 10px;
	margin-right: 30px;
}
#photo-5 {
	margin-left: 100px;
}	
#photo-6 {
	margin-left: 10px;
	margin-right: 30px;
}